* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #F2F2F2;
}

button {
    font-size: 18px;
    margin: 0;
    padding: 3px 15px;
    background-color: #eee;
    border: none;
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    cursor: pointer;
    color: #37474f;
}

button:hover {
    background-color: #698796;
    color: #eee;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 80px 0 0 0;
    max-height: 100%;
}

.details {
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    position: relative;
}

#left_navigation {
    float: left;
    width: 250px;
    position: sticky;
    top: 60px;
    bottom: 0;
}

#left_navigation .navigation_block {
    padding: 5px;
}

#left_navigation .navigation_block h4 {
    text-align: center;
    margin: 5px 0;
}

#left_navigation .navigation {
    max-height: 50vh;
    overflow-y: auto;
    overflow-x: hidden;
}

#left_navigation .additional_infos {
    margin: 10px 0;
}

#left_navigation .additional_infos ul.precise_stats {
    padding-left: 5px;
    font-size: 14px;
    line-height: 14px;
    list-style-type: none;
}

#left_navigation .additional_infos ul.precise_stats li {
    margin-top: 5px;
}

#left_navigation .additional_infos ul.precise_stats span {
    font-weight: bold;
}

#content {
    margin-left: 255px;
}

#left_navigation .campaign, #left_navigation .file {
    margin: 5px;
    color: black;
    font-weight: normal;
    overflow: hidden;
    word-wrap: break-word;
    padding: 2px;
}

#left_navigation a {
    text-decoration: none;
    color: black;
}

#left_navigation a:hover {
    text-decoration: none;
    color: black;
}

#left_navigation .campaign {
    font-weight: bold;
    font-size: 12px;
    margin: 8px 0 0 0;
}

#left_navigation .campaign:first-child {
    font-weight: bold;
    font-size: 12px;
    margin: 0;
}

#left_navigation .campaign {
    font-weight: bold;
    font-size: 12px;
}

#left_navigation .campaign:hover {
    text-decoration: none;
    color: black;
}

#left_navigation .campaign:hover {
    background-color: #37474f;
    color: white;
}

#left_navigation .file {
    padding: 2px;
    font-size: 11px;
    margin: 0 0 0 5px;
}

#left_navigation .file.passed {
    color: rgb(0, 50, 0);
}

#left_navigation .file.failed {
    color: rgb(50, 0, 0);
}

#left_navigation .file a {
    text-decoration: none;
    font-size: 11px;
    color: black;
}

#left_navigation .file a:hover {
    text-decoration: none;
    color: black;
}

#left_navigation .file:hover {
    background-color: #37474f;
    color: white;
}

#left_navigation .buttons {
    margin: 5px;
    padding: 5px;
    text-align: center;
}

.navbar {
    min-height: 60px;
    height: 60px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin-bottom: 0;
    border: none;
    background: #37474f;
    z-index: 9999;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.navbar .navbar_container {
    position: relative;
}

.navbar .navbar_container .links {
    float: left;
    height: 60px;
    padding: 5px;
    font-size: 16px;
    line-height: 16px;
    margin: 0 10px;
    position: absolute;
}

.navbar .navbar_container .links a.link {
    padding-top: 15px;
    display: inline-block;
    color: white;
    text-decoration: none;
    min-width: 80px;
    height: 100%;
    margin-left: 10px;
}

.navbar .navbar_container .links a.link:hover {
    text-decoration: underline;
}

.navbar .title {
    margin: 0 auto;
    padding: 15px 0;
    text-align: center;
    color: white;
    line-height: 30px;
}

.navbar .title h2 {
    margin: 0;
    padding: 0;
    font-size: 30px;
}

.navbar .recap {
    position: absolute;
    right: 0;
    top: 0;
    height: 60px;
    margin-right: 10px;
    padding-top: 15px;
}

.recap_block {
    min-width: 50px;
    height: 60px;
    display: inline-block;
    vertical-align: middle;
    color: white;
    margin: 0 10px;
}

.recap_block.passed_tests {
    color: #48E57C;
}

.recap_block.failed_tests {
    color: #E54848;
}

.recap_block.skipped_tests {
    color: #C6C6C6;
}


h3.suite_title {
    margin: 3px 0;
    font-weight: 100;
    line-height: 1.1;
    font-size: 24px;
}

.suite {
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    margin: 10px 0 10px 10px;
    padding: 0;
}

.suite:first-child {
    border: none;
    margin: 0;
}

.suite_header {
    padding: 0 10px 0 20px;
}

.campaign {
    font-size: 12px;
    color: grey;
    margin: 3px 0;
}

.informations {
    color: grey;
    font-size: 16px;
    line-height: 16px;
    position: relative;
    margin-top: 10px;
}

.material-icons {
    vertical-align: bottom;
    font-size: 20px;
}

.informations .material-icons {
    display: inline-block;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    margin: 5px 0;
}

.informations .block_info {
    display: inline-block;
    position: relative;
    margin: 0 5px 0 0;
    padding: 5px 0;
    line-height: 16px;
}

.informations .info {
    margin: 0 5px 0 20px;
    line-height: 16px;
    position: relative;
}

.informations .block_info i.material-icons {
    position: absolute;
    top: 0;
    left: 0;
}

.informations .block_info.tests_passed {
    color: green;
}
.informations .block_info.tests_failed {
    color: red;
}
.informations .block_info.tests_skipped {
    color: #a3a3a3;
}

.test_container {
    margin: 10px 0 0 0;
    padding: 0;
    border-top: 1px solid #e0e0e0;
    position: relative;
}

.test_component {
    border-left: 3px solid transparent;
    border-bottom: 1px solid #e0e0e0;
}

.test_component:last-child {
    border-left: 3px solid transparent;
    border-bottom: none;
}

.test_component.passed:hover {
    border-left: 3px solid green;
}

.test_component.failed:hover {
    border-left: 3px solid red;
}

.block_test {
    padding: 2px 0;
    margin: 0 16px 0 13px;
}

.test {
    position: relative;
    line-height: 24px;
}

.test i.icon {
    position: absolute;
    top: 0;
    left: 0;
}

.test_passed>.icon {
    color: green;
}

.test_failed {
    cursor: pointer;
}

.test_failed>.icon {
    color: red;
}

.test_title {
    margin-left: 30px;
    font-size: 14px;
}

.test_info {
    padding: 5px;
    margin-bottom: 2px;
    margin-left: 5px;
    color: grey;
    font-size: 14px;
}

.test_info.stack_trace {
    display: none;
}

.test_info.stack_trace code {
    line-height: 16px;
}

.test_info.error_message {
    color: red;
}

.test .test_duration {
    position: absolute;
    right: 0;
    top: 3px;
    color: grey;
    font-size: 14px;
    line-height: 14px;
}

.test .test_duration .material-icons {
    font-size: 14px;
}

code {
    font-family: Menlo,Monaco,Consolas,Courier New,monospace;
    font-size: 12px;
}

.campaign_title {
    padding: 5px 0 5px 10px;
    line-height: 24px;
}

.campaign_title:last-child {
    padding-bottom: 10px;
}

.campaign_title h2 {
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    margin: 0;
    color: #37474f;
    font-family: 'Roboto Mono', monospace;
}

.container_campaign {
    padding-left: 10px;
}

.file_title {
    padding: 0;
}

.file_title h3 {
    font-weight: normal;
    font-size: 16px;
    color: #474F37;
    font-family: 'Roboto Mono', monospace;
    cursor: pointer;
    margin: 0 0 0 10px;
    padding: 3px 0;
    line-height: 16px;
}

.file_title h3:hover {
    background-color: #eee;
}

.file_title h3 span.indicator {
    color: rgba(80, 0, 0, 0.5);
    display: inline-block;
    font-size: 12px;
}

.file_title h3:hover span.indicator {
    color: rgba(80, 0, 0, 1);
}

.container_file .ajaxloader {
    margin: 3px auto;
    text-align: center;
}

hr {
    width: 90%;
    background-color: #37474f;
    margin: 3px 0;
}

.metric_container {
    width: 150px;
    height: 30px;
    position: relative;
    float: right;
}

.metric {
    position: absolute;
    right: 0;
    top: 0;
}

.metric .background {
    width: 150px;
    height: 30px;
    background-color: red;
    position: relative;
}


.metric .background .metric_number  {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin-left: 5px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.98);
    font-size: 15px;
    z-index: 5;
    line-height: 30px;
}

.metric .background .advancement {
    background-color: green;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}

.options {
    min-height: 60px;
    margin: 0;
    padding: 0;
    background-color: #37474f;
    color: white;
}

.blocks_container {
    min-height: 60px;
    padding: 5px;
}

.blocks_container .block {
    height: 40px;
    display: inline-block;
    margin: 5px 10px;
    line-height: 40px;
}

form {
    margin: 0;
    padding: 0;
}

form .form_block {
    width: 25%;
    display: inline-block;
    padding: 10px;
    text-align: center;
}

form .form_block .form_container {
    margin: 10px 0;
}

form .form_block label {
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
}

form .form_block label input, form .form_block label select {
    width: 150px;
    float: right;
    height: 30px;
    line-height: 30px;
}

form .form_block button {
    padding: 0;
    width: 100px;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
}

table.table {
    width: 100%;
    background-color: #fff;
    border-spacing: 0;
    padding: 0;
    margin: 10px 0 0 0;
}

table.table thead {
    background-color: #37474f;
    color: white;
}

table.table thead tr th {
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 15px 0;
}

table.table tbody  {
    color: grey;
}

table.table tbody tr:nth-child(even) {
    background-color: #EEEEEE;
}

table.table tbody tr td {
    padding: 5px 0;
    text-align: center;
    border-bottom: 1px solid #d8d8d8;
    line-height: 30px;
}

table.table tbody tr td a i {
    line-height: 30px;
}

tr td .content_block {
    display: inline-block;
    margin: 2px 5px;
}

tr td .content_block i {
    line-height: 30px;
}

tr td .content_block.count_passed {
    color: rgba(0, 128, 0, 0.8);
}

tr td .content_block.count_failed {
    color: rgba(128, 0, 0, 0.8);
}

tr td .content_block.count_skipped {
}

tr td a {
    color: black;
    text-decoration: none;
}

tr td a:hover {
    color: black;
    text-decoration: underline;
}

span.label {
    border: 1px solid #332924;
    padding: 5px 15px;
    border-radius: 10px;
    background-color: grey;
    color: white;
    margin: 5px 10px;
    cursor: pointer;
    box-shadow: 0px 5px 8px 0px rgba(55,71,79,1);
}

span.label[data-active=true] {
    background-color: #37474f;
    color: white;
}

span.label:hover {
    background-color: #6D8C9B;/*#5B7582;*/
    color:white;
}

.canvas_container {
    margin: 20px 0;
}

.canvas_container .chart_title {
    text-align: center;
    padding: 5px 0;
}

.canvas_container .chart_legend {
    font-size: 12px;
    padding: 5px
}

.canvas_container .chart_legend p {
    margin: 0px;
    padding: 3px 0;
}

.canvas_container .chart_legend p span {
    font-weight: bold;
}